[submodule "3rdparty/ops-transformer"]
	path = 3rdparty/ops-transformer
	url = https://gitcode.com/chaowick/ops-transformer.git
[submodule "3rdparty/hcomm"]
	path = 3rdparty/hcomm
	url = https://gitcode.com/chaowick/hcomm.git
[submodule "3rdparty/opbase"]
	path = 3rdparty/opbase
	url = https://gitcode.com/cann/opbase.git
