[submodule "3rdparty/ops-transformer"]
	path = 3rdparty/ops-transformer
	url = https://gitcode.com/cann/ops-transformer.git
[submodule "3rdparty/hcomm"]
	path = 3rdparty/hcomm
	url = https://gitcode.com/LingquLab/hcomm.git
[submodule "3rdparty/shmem"]
	path = 3rdparty/shmem
	url = https://github.com/LingquLab/shmem.git
	branch = tilexr-udma-integration
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
